@font-face {
    font-family: 'pokered';
    src: url('fonts/pokered-regular.woff2') format('woff2'),
        url('fonts/pokered-regular.woff') format('woff'),
        url('fonts/pokered-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pokeplatinum';
    src: url('fonts/pokeplatinum-regular.woff2') format('woff2'),
        url('fonts/pokeplatinum-regular.woff') format('woff'),
        url('fonts/pokeplatinum-regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TPP-Glyphs';
    src:
        url('fonts/TPP-Glyphs.ttf?ya8shi') format('truetype'),
        url('fonts/TPP-Glyphs.woff?ya8shi') format('woff'),
        url('fonts/TPP-Glyphs.svg?ya8shi#TPP-Glyphs') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i.tpp {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'TPP-Glyphs' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tpp-pokeyen-color .path1:before {
    content: "\e928";
    color: rgb(105, 168, 142);
}

.tpp-pokeyen-color .path2:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(238, 238, 238);
}

.tpp-pokeyen-color .path3:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.tpp-token-color .path1:before {
    content: "\e93d";
    color: rgb(163, 46, 46);
}

.tpp-token-color .path2:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(238, 238, 238);
}

.tpp-token-color .path3:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(255, 213, 80);
}

.tpp-pokeball-color .path1:before {
    content: "\e900";
    color: rgb(208, 80, 48);
}

.tpp-pokeball-color .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(248, 160, 80);
}

.tpp-pokeball-color .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(248, 160, 80);
}

.tpp-pokeball-color .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path5:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path6:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path7:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path8:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path9:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path10:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-pokeball-color .path11:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(248, 248, 248);
}

.tpp-item-color .path1:before {
    content: "\e90e";
    color: rgb(245, 234, 156);
}

.tpp-item-color .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(249, 79, 53);
}

.tpp-btn-a-color .path1:before {
    content: "\e940";
    color: rgb(227, 113, 116);
}

.tpp-btn-a-color .path2:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(238, 238, 238);
}

.tpp-btn-a-color .path3:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.tpp-btn-b-color .path1:before {
    content: "\e943";
    color: rgb(211, 150, 38);
}

.tpp-btn-b-color .path2:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(238, 238, 238);
}

.tpp-btn-b-color .path3:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.tpp-btn-x-color .path1:before {
    content: "\e946";
    color: rgb(81, 121, 185);
}

.tpp-btn-x-color .path2:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(238, 238, 238);
}

.tpp-btn-x-color .path3:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.tpp-btn-y-color .path1:before {
    content: "\e949";
    color: rgb(105, 168, 143);
}

.tpp-btn-y-color .path2:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(238, 238, 238);
}

.tpp-btn-y-color .path3:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.tpp-btn-down:before {
    content: "\e94c";
}

.tpp-btn-l:before {
    content: "\e94d";
}

.tpp-btn-left:before {
    content: "\e94e";
}

.tpp-btn-r:before {
    content: "\e94f";
}

.tpp-btn-right:before {
    content: "\e950";
}

.tpp-btn-select:before {
    content: "\e951";
}

.tpp-btn-start:before {
    content: "\e952";
}

.tpp-btn-up:before {
    content: "\e953";
}

.tpp-btn-a:before {
    content: "\e954";
}

.tpp-btn-b:before {
    content: "\e955";
}

.tpp-btn-x:before {
    content: "\e956";
}

.tpp-btn-y:before {
    content: "\e957";
}

.tpp-pokeyen-circle:before {
    content: "\e958";
}

.tpp-token-circle:before {
    content: "\e959";
}

.tpp-pokeyen:before {
    content: "\24";
}

.tpp-token:before {
    content: "\1f31f";
}

.tpp-viewers:before {
    content: "\e90b";
}

.tpp-viewers-decrease:before {
    content: "\e90c";
}

.tpp-viewers-increase:before {
    content: "\e90d";
}

.tpp-mail:before {
    content: "\e910";
}

.tpp-attack:before {
    content: "\e911";
}

.tpp-defense:before {
    content: "\e912";
}

.tpp-special-attack:before {
    content: "\e913";
}

.tpp-special-defense:before {
    content: "\e914";
}

.tpp-speed:before {
    content: "\e915";
}

.tpp-type-unknown-cutout:before {
    /* Fairy */
    content: "\e91a";
}

.tpp-type-bug-cutout:before {
    content: "\e916";
}

.tpp-type-dark-cutout:before {
    content: "\e917";
}

.tpp-type-dragon-cutout:before {
    content: "\e918";
}

.tpp-type-electric-cutout:before {
    content: "\e919";
}

.tpp-type-fairy-cutout:before {
    content: "\e91a";
}

.tpp-type-fighting-cutout:before {
    content: "\e91b";
}

.tpp-type-fire-cutout:before {
    content: "\e91c";
}

.tpp-type-flying-cutout:before {
    content: "\e91d";
}

.tpp-type-ghost-cutout:before {
    content: "\e91e";
}

.tpp-type-grass-cutout:before {
    content: "\e91f";
}

.tpp-type-ground-cutout:before {
    content: "\e920";
}

.tpp-type-ice-cutout:before {
    content: "\e921";
}

.tpp-type-normal-cutout:before {
    content: "\e922";
}

.tpp-type-poison-cutout:before {
    content: "\e923";
}

.tpp-type-psychic-cutout:before {
    content: "\e924";
}

.tpp-type-rock-cutout:before {
    content: "\e925";
}

.tpp-type-steel-cutout:before {
    content: "\e926";
}

.tpp-type-water-cutout:before {
    content: "\e927";
}

.tpp-type-unknown:before {
    /*Fairy*/
    content: "\1f9da";
}

.tpp-type-bug:before {
    content: "\1f41e";
}

.tpp-type-dark:before {
    content: "\1f312";
}

.tpp-type-dragon:before {
    content: "\1f409";
}

.tpp-type-electric:before {
    content: "\26a1";
}

.tpp-type-fairy:before {
    content: "\1f9da";
}

.tpp-type-fighting:before {
    content: "\270a";
}

.tpp-type-fire:before {
    content: "\1f525";
}

.tpp-type-flying:before {
    content: "\1f985";
}

.tpp-type-ghost:before {
    content: "\1f47b";
}

.tpp-type-grass:before {
    content: "\1f33f";
}

.tpp-type-ground:before {
    content: "\26f0";
}

.tpp-type-ice:before {
    content: "\2744";
}

.tpp-type-normal:before {
    content: "\1f369";
}

.tpp-type-poison:before {
    content: "\2620";
}

.tpp-type-psychic:before {
    content: "\1f52e";
}

.tpp-type-rock:before {
    content: "\1f5ff";
}

.tpp-type-steel:before {
    content: "\1f529";
}

.tpp-type-water:before {
    content: "\1f4a7";
}

.tpp-down:before {
    content: "\2b07";
}

.tpp-left:before {
    content: "\2b05";
}

.tpp-right:before {
    content: "\27a1";
}

.tpp-up:before {
    content: "\2b06";
}

.tpp-type-bug,
.tpp-type-bug-cutout {
    color: #9C3;
}

.tpp-type-dark,
.tpp-type-dark-cutout {
    color: #666;
}

.tpp-type-dragon,
.tpp-type-dragon-cutout {
    color: #06B;
}

.tpp-type-electric,
.tpp-type-electric-cutout {
    color: #FD4;
}

.tpp-type-fairy,
.tpp-type-fairy-cutout {
    color: #F9E;
}

.tpp-type-fighting,
.tpp-type-fighting-cutout {
    color: #D56;
}

.tpp-type-fire,
.tpp-type-fire-cutout {
    color: #F95;
}

.tpp-type-flying,
.tpp-type-flying-cutout {
    color: #8AD;
}

.tpp-type-ghost,
.tpp-type-ghost-cutout {
    color: #56A;
}

.tpp-type-grass,
.tpp-type-grass-cutout {
    color: #6B5;
}

.tpp-type-ground,
.tpp-type-ground-cutout {
    color: #D74;
}

.tpp-type-ice,
.tpp-type-ice-cutout {
    color: #7CB;
}

.tpp-type-normal,
.tpp-type-normal-cutout {
    color: #99A;
}

.tpp-type-poison,
.tpp-type-poison-cutout {
    color: #A6C;
}

.tpp-type-psychic,
.tpp-type-psychic-cutout {
    color: #F67;
}

.tpp-type-rock,
.tpp-type-rock-cutout {
    color: #CB8;
}

.tpp-type-steel,
.tpp-type-steel-cutout {
    color: #589;
}

.tpp-type-water,
.tpp-type-water-cutout {
    color: #59D;
}

.tpp-type-none,
.tpp-type-none-cutout {
    display: none;
}

.tpp-type-bug img,
.tpp-type-bug-cutout img,
.tpp-type-dark img,
.tpp-type-dark-cutout img,
.tpp-type-dragon img,
.tpp-type-dragon-cutout img,
.tpp-type-electric img,
.tpp-type-electric-cutout img,
.tpp-type-fairy img,
.tpp-type-fairy-cutout img,
.tpp-type-fighting img,
.tpp-type-fighting-cutout img,
.tpp-type-fire img,
.tpp-type-fire-cutout img,
.tpp-type-flying img,
.tpp-type-flying-cutout img,
.tpp-type-ghost img,
.tpp-type-ghost-cutout img,
.tpp-type-grass img,
.tpp-type-grass-cutout img,
.tpp-type-ground img,
.tpp-type-ground-cutout img,
.tpp-type-ice img,
.tpp-type-ice-cutout img,
.tpp-type-normal img,
.tpp-type-normal-cutout img,
.tpp-type-poison img,
.tpp-type-poison-cutout img,
.tpp-type-psychic img,
.tpp-type-psychic-cutout img,
.tpp-type-rock img,
.tpp-type-rock-cutout img,
.tpp-type-steel img,
.tpp-type-steel-cutout img,
.tpp-type-water img,
.tpp-type-water-cutout img,
.tpp-type-none img,
.tpp-type-none-cutout img {
    display: none;
}

@font-face {
    font-family: 'Prism-Types';
    src:
        url('fonts/prism-types.ttf?siow6o') format('truetype'),
        url('fonts/prism-types.woff?siow6o') format('woff'),
        url('fonts/prism-types.svg?siow6o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i.tpp.tpp-type-gas,
i.tpp.tpp-type-sound,
i.tpp.tpp-type-tri,
i.tpp.tpp-type-prism,
i.tpp.tpp-type-gas-cutout,
i.tpp.tpp-type-sound-cutout,
i.tpp.tpp-type-tri-cutout,
i.tpp.tpp-type-prism-cutout {
    font-family: 'Prism-Types' !important;
}

i.tpp.tpp-type-gas img,
i.tpp.tpp-type-sound img,
i.tpp.tpp-type-tri img,
i.tpp.tpp-type-prism img,
i.tpp.tpp-type-gas-cutout img,
i.tpp.tpp-type-sound-cutout img,
i.tpp.tpp-type-tri-cutout img,
i.tpp.tpp-type-prism-cutout img {
    display:none;
}

.tpp-type-gas:before {
    content: "\e9c1";
}

.tpp-type-gas-cutout:before {
    content: "\e900";
}

.tpp-type-sound:before {
    content: "\e901";
}

.tpp-type-sound-cutout:before {
    content: "\e902";
}

.tpp-type-tri:before {
    content: "\e903";
}

.tpp-type-tri-cutout:before {
    content: "\e904";
}

.tpp-type-prism:before {
    content: "\e905";
}

.tpp-type-prism-cutout:before {
    content: "\e906";
}

.tpp-type-gas, .tpp-type-gas-cutout {
    color: #0EF133;
}
.tpp-type-sound, .tpp-type-sound-cutout {
    color: #62A9AD;
}
.tpp-type-tri, .tpp-type-tri-cutout {
    color: #63A;
}
.tpp-type-prism, .tpp-type-prism-cutout {
    color: #CBCBF2;
}