.dexEntry {
    position:relative;
    display: inline-block;
    margin: auto;
    opacity: .2;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 0;
    width: 120px;
    font-family: pokeplatinum;
    font-size:1.5em;
    line-height: .9em;
    /*text-shadow: 0 0 4px white;*/
}

.dexEntry > * {
    margin: auto;
}


.dexEntry:not(.owned) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.dexEntry.owned {
    opacity: 1;
    background-color: lightgray;
}

.dexEntry h3, .dexEntry h4 {
    margin:0;
}

.dexEntry h4 {
    width: 100%;
    font-size: .925em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dexEntry .pokesprite {
    display: inline-block;
    font-size: 64px;
    width: 1em;
    height: 1em;
    margin: 5px 0;
}

.dexEntry .pokesprite:not(.missingno) img {
    height: 0;
    width: 0;
    padding: .5em;
    image-rendering: pixelated;
    background-image: url("../img/pokemon-large.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dexEntry .pokesprite:not(.missingno).shiny img {
    background-image: url("../img/pokemon-large-shiny.png");
}

.dexEntry .pokesprite:not(.missingno).female img {
    background-image: url("../img/pokemon-large-female.png");
}

.dexEntry .pokesprite:not(.missingno).shiny.female img {
    background-image: url("../img/pokemon-large-shiny-female.png");
}

.dexEntry .pokesprite.missingno img {
    height: 100%;
    image-rendering: pixelated;
}

.dexEntry .hofRibbon {
    position: absolute;
    left:2px;
    top:2px;
    width:15%;
}

.dexEntry .hofRibbon img {
    width:100%;
}

.telefang .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/telefang/denjuu-large.gif")!important;
}

.touhoumon .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/touhoumon-large.png")!important;
}

.moemon .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/moemon-large.png")!important;
}

.robopon .dexEntry .pokesprite:not(.missingno) img {
    background-image:url("../img/robopon/robopon.gif")!important;
    background-position: -20px -1110px;
    background-size:auto;
}

.sweet .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/candyland-large.png")!important;
}

.sirius .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/sirius-large.png")!important;
}

.ms .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/pokemon.png")!important;
}

.ms.touhoumon .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/touhoumon-small.png")!important;
}

.ms.moemon .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/moemon-small.png")!important;
}

.ms.sweet .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/candyland-small.png")!important;
}

.ms.sirius .dexEntry .pokesprite:not(.missingno) img {
    background-image: url("../img/sirius-small.png")!important;
}