body {
	background-color:#999;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	display: inline-block;
	width:45%;
	vertical-align: bottom;	
}

.credits {
	font-size:.6em;	
}

ul.controls {
	position:fixed;
	left:0;
	top:0;
	z-index:50;
	list-style:none;
	padding:0;
	margin:0;
}

ul.controls > li {
	display:inline-block;
	font-size:1.3em;
	margin:.25em;
	cursor:pointer;
	position:relative;
	padding:0;
}

ul.controls > li > i {
	position:relative;
	z-index:2;	
	text-shadow:1px 1px 0 white, -1px 1px 0 white, -1px -1px white, 1px -1px white;
}

ul.controls > li > ul {
	box-sizing: border-box;
	position:absolute;
	left:-.2em;
	top:100%;
	margin: .25em 0;
	transform:translateY(-200%);
	background-color:lightgray;
	border: 1px solid black;
	padding:.5em 1em;
	white-space: nowrap;
	transition: transform .5s ease-in-out;
	list-style:none;
	text-align: left;
}

ul.controls > li > ul:before {
	content:' ';
	height:2.5em;
	width:1.3em;
	border: 1px solid black;
	border-bottom:none;
	background-color:lightgray;
	position: absolute;
	bottom:100%;
	left:-1px;
}

ul.controls > li:hover > ul {
	transform:none;
}

ul.controls > li > ul > li {
	display: block;	
}

ul.controls > li > ul > li > * {
	vertical-align: middle;	
	font-size:.8em;
}

.progressChart {
	box-sizing:content-box;
	float:left;
	border:2px solid black;	
	clear: both;
	margin:10px;
	margin-bottom:50px;
	padding:0 50px;
	padding-top:70px;
	background-color:white;
	background-position: 50px;
	position:relative;
	transition: all 2s ease-in-out;
}

.progressChart:before {
    content: ' ';
    clear: right;
    display: block;
}

.progressChart[data-label]:after {
	position:absolute;
	content:attr(data-label);
    white-space: nowrap;
	font-size:1.5em;
	left:1em;
	top:-1.2em;	
}

.progressChart .ruler {
	position:absolute;
	box-sizing:border-box;
	border-bottom:2px solid black;
	height:2em;
	top:0;
	width:100%;
	left:0;
	counter-reset: days -1;
	transition: all 2s ease-in-out;
	overflow:hidden;
}
.progressChart .ruler .stop {
	border-right:3px solid black;
	position:absolute;
	bottom:0;
	margin-left: 48px;
	height:1em;
	counter-increment: days;
	transition: all 2s ease-in-out;
}

.progressChart .ruler .stop::before, .progressChart .ruler .stop::after {
 	position:absolute;
	font-size:.75em;
	top:-1.25em;
	width:2em;
	text-align: center;
	right:-1.05em;
	font-weight: lighter;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.progressChart .ruler .stop::after {
	content:counter(days);
}
.progressChart .ruler .stop:first-child::before {
	content:attr(data-scale) ":";
    text-align: right;
    width:5em;
    right:.5em;
    letter-spacing: -.1em;
}

.progressChart[data-scale=Hours] .ruler {
    counter-reset: days -4;   
}
.progressChart[data-scale=Hours] .ruler .stop {
    counter-increment: days 4;   
}
.progressChart[data-scale=Minutes] .ruler {
    counter-reset: days -10;   
}
.progressChart[data-scale=Minutes] .ruler .stop {
    counter-increment: days 10;   
}

.progressChart .run {
	display: block;
	box-sizing: content-box;
	margin-bottom:50px;
	height:46px;
	border:2px solid black; 
	background-color:white;
	position: relative;
	left:-2px;
	transition: width 2s ease-in-out, left 2s ease-in-out, opacity 2s ease-in-out, margin 2s ease-in-out;
}

.progressChart .run.ongoing {
	border-right:none;
}

.progressChart > .run[data-label]:hover::before {
	position:absolute;
	content:attr(data-label);
	white-space: pre;
	font-size:1.5em;
	left:1em;
	top: -1.5em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	z-index:5;
	text-shadow:1px 1px 0 white, -1px 1px 0 white, -1px -1px white, 1px -1px white;
}

.progressChart .run .event {
	position:absolute;
	width:3px;
	top:-1px;
	margin-left:-1px;
	height:49px;
	left:0;
	transition: left 2s ease-in-out;
}
.progressChart .run .event img {
	position:absolute;
	left:0;
	top:-1px;
	height:	50px;
	width:auto;
	z-index:1;
	transform: translateX(-50%);
	transition: all 2s ease-in-out;
	border:none;
}

.progressChart .run .event[data-label]:hover::before, .progressChart .run .run:hover::before {
	content:'';
	border-left:3px solid black;
	height:1em;
	position:absolute;
	left:0;
	bottom:100%;
	z-index:6;
}
.progressChart .run .event[data-label]:hover::after, .progressChart .run .run:hover::after, .progressChart .run .videos a .playhead:after {
	content:attr(data-label);
	margin-bottom:1em;
	font-size:.75em;
	background-color:goldenrod;
	border:2px solid black;
	color:black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	position: absolute;
	left:0;
	bottom:100%;
	z-index:6;
	padding:.1em .5em;
	white-space: pre;
	transform: translateX(-50%);
}

.progressChart .run .run:hover::before, .progressChart .run .run:hover::after {
    left:50%;   
}

.progressChart .run .event.champions img, .progressChart .run .event.elitefour img, .progressChart .run .event.elitefourrematch img, .progressChart .run .event.pasthosts img , .progressChart .run .event.bosses img, .progressChart .run .event.finalbosses img {
	height:70px;
	top:-15px;	
}

.progressChart .run .event.missions img, .progressChart .run#orasspecialdemo .event.champions img {
	height:40px;
	top:5px;
}

.progressChart .run .event.hosts img {
	height:90px;
    top:-30px;
}

.progressChart .run .event.hosts:first-of-type img {
	left:-14px;
}

.progressChart .run .event.hosts:first-of-type {
	left:-1px!important;
}

.progressChart .run .event.hosts:first-of-type:hover {
    background:none;   
}
.progressChart .run .event.hosts:hover:first-of-type:before {
	display:none;
}
.progressChart .run .event.hosts:hover:first-of-type:after {
	top:100%;
	margin-bottom:0;
	bottom:auto;
	left:-14px;
}

.progressChart .run .run .event img {
    transform:scale(.75) translateX(-75%);   
}

.progressChart .run .run .event.hosts img, .progressChart .run .run .event.hosts:hover::after {
    left:14px;
}

.progressChart .run .event.pokemon {
	z-index:3;	
}

.progressChart .run .event.pokemon img {
	top:50%;
	margin:0 -25%;
}

.progressChart .run .event:hover {
	z-index:5;
	background-color:rgba(0,0,0,.5);
}

.progressChart .run .run {
    position:absolute;
    top:-2px;
}

.progressChart .run .event.hidden {
	pointer-events: none;
}
.progressChart .run .event.hidden img {
    opacity: 0;   
}

.progressChart #touhoumon.run {
	margin-bottom:0;	
}
.progressChart #moemon.run:hover::before {
	bottom:-1.5em;
	top:auto;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        background: #fff!important;
        color: #000;
        margin: 0px;
    }
    .controls {
        display: none;   
    }
    .charts {
        transform: scale(.6, .6);
        margin-left:-25%;
    }
    .progressChart {
        page-break-after: always;
    }
    .progressChart .run .videos {
        display:none!important;   
    }
    .progressChart .run.hasVideos {
        margin-bottom: 50px!important;   
    }
}


.progressChart .run .videos a {
    display: block;
    position: absolute;
    left:0;
    bottom:-2em;
    height:1em;
    width:0;
    background-color:#333333;
    transition: all 2s ease-in-out;
    z-index: 5;
}

.progressChart .run .videos a .playhead {
    display:none;
    position: absolute;
    bottom:0;
    left:0;
    height:50px;
    padding-top: 2.5em;
    width:1px;
    background-color: black;
}

.progressChart .run .videos a .playhead:after {
    margin-bottom:0;
}

.progressChart .run .videos a .playhead:before {
    position: absolute;
    font-family: FontAwesome;
    top:-2em;
    left:0;
    font-weight: bold;
    transform: translateX(-50%);
    z-index:7;
    text-shadow:1px 1px 0 white, -1px 1px 0 white, -1px -1px white, 1px -1px white;
}

.progressChart .run .videos a:hover .playhead {
    display:block;   
}

.progressChart .run .videos a.twitch {
    /*background-color:#B9A3E3;*/
    background-color: #6441A5;
    color: #6441A5;
}

.progressChart .run .videos a.twitch .playhead:before {
    content:'\f1e8';
}

.progressChart .run.hasVideos {
    margin-bottom: 75px;   
}

.progressChart #touhoumon.run .videos {
    display:none;   
}

.progressChart #moemon.run .videos a {
    margin-bottom:-1em;
}

.progressChart #moemon.run .videos a .playhead {
    height:100px;
    padding-bottom:1em;   
}

.progressChart .run .event.pokemon ~ .videos a {
    margin-bottom:-.5em;   
}

.progressChart .run .event.pokemon ~ .videos a .playhead {
    padding-bottom:.5em;   
}