@font-face {
  font-family: 'TPP-Types-XG-Remix';
  src:
    url('fonts/TPP-Types-XG-Remix.ttf?gthl6m') format('truetype'),
    url('fonts/TPP-Types-XG-Remix.woff?gthl6m') format('woff'),
    url('fonts/TPP-Types-XG-Remix.svg?gthl6m#TPP-Types-XG-Remix') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.xgremix i.tpp,
.snakewood i.tpp {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TPP-Types-XG-Remix', 'TPP-Glyphs' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xgremix i.tpp img,
.snakewood i.tpp img {
  display: none;
}

.snakewood .tpp-type-disease:before,
.snakewood .tpp-type-disease-cutout:before {
  content: "\1f637";
}

.xgremix .tpp-type-beast-cutout:before {
  content: "\1f337";
}

.xgremix .tpp-type-dragon-cutout:before {
  content: "\1f338";
}

.xgremix .tpp-type-fire-cutout:before {
  content: "\1f339";
}

.xgremix .tpp-type-metal-cutout:before {
  content: "\1f33a";
}

.xgremix .tpp-type-wood-cutout:before {
  content: "\1f33b";
}

.xgremix .tpp-type-earth-cutout:before {
  content: "\1f33c";
}

.xgremix .tpp-type-water-cutout:before {
  content: "\1f33d";
}

.xgremix .tpp-type-air-cutout:before {
  content: "\1f33e";
}

.xgremix .tpp-type-electric-cutout:before {
  content: "\1f33f";
}

.xgremix .tpp-type-ice-cutout:before {
  content: "\1f340";
}

.xgremix .tpp-type-chemical-cutout:before {
  content: "\1f341";
}

.xgremix .tpp-type-synthetic-cutout:before {
  content: "\1f342";
}

.xgremix .tpp-type-light-cutout:before {
  content: "\1f343";
}

.xgremix .tpp-type-shadow-cutout:before {
  content: "\1f344";
}

.xgremix .tpp-type-crystal-cutout:before {
  content: "\1f345";
}

.xgremix .tpp-type-magic-cutout:before {
  content: "\1f346";
}

.xgremix .tpp-type-spirit-cutout:before {
  content: "\1f347";
}

.xgremix .tpp-type-cosmic-cutout:before {
  content: "\1f348";
}

.xgremix .tpp-type-beast:before {
  content: "\1f43e";
}

.xgremix .tpp-type-dragon:before {
  content: "\1f432";
}

.xgremix .tpp-type-fire:before {
  content: "\1f525";
}

.xgremix .tpp-type-metal:before {
  content: "\1f529";
}

.xgremix .tpp-type-wood:before {
  content: "\1f333";
}

.xgremix .tpp-type-earth:before {
  content: "\1f30e";
}

.xgremix .tpp-type-water:before {
  content: "\1f4a7";
}

.xgremix .tpp-type-air:before {
  content: "\1f4a8";
}

.xgremix .tpp-type-electric:before {
  content: "\1f50c";
}

.xgremix .tpp-type-ice:before {
  content: "\2603";
}

.xgremix .tpp-type-chemical:before {
  content: "\1f571";
}

.xgremix .tpp-type-synthetic:before {
  content: "\1f4bd";
}

.xgremix .tpp-type-light:before {
  content: "\1f4a1";
}

.xgremix .tpp-type-shadow:before {
  content: "\1f3b1";
}

.xgremix .tpp-type-crystal:before {
  content: "\1f48e";
}

.xgremix .tpp-type-magic:before {
  content: "\1f5ff";
}

.xgremix .tpp-type-spirit:before {
  content: "\1f383";
}

.xgremix .tpp-type-cosmic:before {
  content: "\1f30c";
}

.xgremix .tpp-type-beast,
.xgremix .tpp-type-beast-cutout {
  color: #BC3823;
}

.xgremix .tpp-type-dragon,
.xgremix .tpp-type-dragon-cutout {
  color: #7B52EF;
}

.xgremix .tpp-type-fire,
.xgremix .tpp-type-fire-cutout {
  color: #F76124;
}

.xgremix .tpp-type-metal,
.xgremix .tpp-type-metal-cutout {
  color: #8A8A8A;
}

.xgremix .tpp-type-wood,
.xgremix .tpp-type-wood-cutout {
  color: #979F52;
}

.xgremix .tpp-type-earth,
.xgremix .tpp-type-earth-cutout {
  color: #DEC562;
}

.xgremix .tpp-type-water,
.xgremix .tpp-type-water-cutout {
  color: #6B94EF;
}

.xgremix .tpp-type-air,
.xgremix .tpp-type-air-cutout {
  color: #CAB3EF;
}

.xgremix .tpp-type-electric,
.xgremix .tpp-type-electric-cutout {
  color: #FFCE31;
}

.xgremix .tpp-type-ice,
.xgremix .tpp-type-ice-cutout {
  color: #9CD6DE;
}

.xgremix .tpp-type-chemical,
.xgremix .tpp-type-chemical-cutout {
  color: #0EF133;
}

.xgremix .tpp-type-synthetic,
.xgremix .tpp-type-synthetic-cutout {
  color: #3D4449;
}

.xgremix .tpp-type-light,
.xgremix .tpp-type-light-cutout {
  color: #F0F08B;
}

.xgremix .tpp-type-shadow,
.xgremix .tpp-type-shadow-cutout,
.snakewood .tpp-type-disease,
.snakewood .tpp-type-disease-cutout {
  color: #004C6A;
}

.xgremix .tpp-type-crystal,
.xgremix .tpp-type-crystal-cutout {
  color: #CBCBF2;
}

.xgremix .tpp-type-magic,
.xgremix .tpp-type-magic-cutout {
  color: #EF638C;
}

.xgremix .tpp-type-spirit,
.xgremix .tpp-type-spirit-cutout {
  color: #EDD2D0;
}

.xgremix .tpp-type-cosmic,
.xgremix .tpp-type-cosmic-cutout {
  color: #5A249F;
}

.xgremix .tpp-type-beast img,
.xgremix .tpp-type-beast-cutout img,
.xgremix .tpp-type-dragon img,
.xgremix .tpp-type-dragon-cutout img,
.xgremix .tpp-type-fire img,
.xgremix .tpp-type-fire-cutout img,
.xgremix .tpp-type-metal img,
.xgremix .tpp-type-metal-cutout img,
.xgremix .tpp-type-wood img,
.xgremix .tpp-type-wood-cutout img,
.xgremix .tpp-type-earth img,
.xgremix .tpp-type-earth-cutout img,
.xgremix .tpp-type-water img,
.xgremix .tpp-type-water-cutout img,
.xgremix .tpp-type-air img,
.xgremix .tpp-type-air-cutout img,
.xgremix .tpp-type-electric img,
.xgremix .tpp-type-electric-cutout img,
.xgremix .tpp-type-ice img,
.xgremix .tpp-type-ice-cutout img,
.xgremix .tpp-type-chemical img,
.xgremix .tpp-type-chemical-cutout img,
.xgremix .tpp-type-synthetic img,
.xgremix .tpp-type-synthetic-cutout img,
.xgremix .tpp-type-light img,
.xgremix .tpp-type-light-cutout img,
.xgremix .tpp-type-shadow img,
.xgremix .tpp-type-shadow-cutout img,
.xgremix .tpp-type-crystal img,
.xgremix .tpp-type-crystal-cutout img,
.xgremix .tpp-type-magic img,
.xgremix .tpp-type-magic-cutout img,
.xgremix .tpp-type-spirit img,
.xgremix .tpp-type-spirit-cutout img,
.xgremix .tpp-type-cosmic img,
.xgremix .tpp-type-cosmic-cutout img {
  display: none;
}