<html>

<head>
    <title>TPP Progress Chart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="bin/tpp-structure.js"></script>
    <script src="bin/twitch-videos.js"></script>
    <script src="bin/tpp-data.js"></script>
    <script src="bin/tpp-angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/tpp-progress.css" />
    <link rel="stylesheet" href="css/pokemon.css" />
    <link rel="icon" href="img/icon.png" type="image/png">
    <link rel="shortcut icon" href="img/icon.png" type="image/png">
    <meta property="og:title" content="TPP Progress Chart" />
    <meta property="og:url" content="http://thatswhatyouget.github.io/tpp-progress/" />
    <meta property="og:image" content="http://thatswhatyouget.github.io/tpp-progress/img/icon.png" />
    <meta property="og:type" content="website" />
    <meta charset="utf-8" />
</head>

<body ng-app="tpp-progress">
    <div class="title">
        <h1>Twitch Plays Pokemon</h1>
        <div class="subtitle">
            AngularJS Version
            <a href="index.html">See jQuery Version</a>
        </div>
    </div>
    <div class="title" ng-controller="credits">
        <strong>Progress Chart</strong>
        <div class="credits">
            <span>Original Design: <a href="https://www.reddit.com/user/jim_needs_me" target="_blank">jim_needs_me</a></span>&nbsp;&nbsp;
            <span>Interactive version: <a href="https://www.reddit.com/user/VorpalNorman" target="_blank">VorpalNorman</a></span>
        </div>
        <div class="credits">
            Contributors:
            <span ng-repeat="credit in extraCredits">
                <span ng-if="$last">and</span>
            <a href="https://www.reddit.com/user/{{ credit.User || credit.Name }}" target="_blank">{{ credit.Name }}</a>,
            </span>
        </div>
        <div class="credits">
            Default sprites are from <a href="http://bulbapedia.bulbagarden.net/" target="_blank">Bulbapedia</a> and <a href="http://twitchplayspokemon.org/" target="_blank">twitchplayspokemon.org</a>.
            Pokemon sprites are from <a href="http://pldh.net/dex/sprites/index" target="_blank">PLDHnet's SpriteDex</a>.<br/>
            All custom sprites can be clicked for links to their sources.
        </div>
        <div class="credits">
            {{ live }} run data provided by <a href="http://twitchplayspokemon.org/" target="_blank">twitchplayspokemon.org</a>.
        </div>
    </div>
    <div class="charts" ng-controller="progressCharts">
        <div ng-repeat="chart in tppData" class="progressChart {{ cleanText(chart.Name)}}" data-label="{{ chart.Name }}" id="{{ cleanText(chart.Name)}}" data-scale="{{scale(chart.Scale)}}"
        ng-style="{'background-image': 'url('+makeGrid()+')'}">
            <div class="ruler">
                <div ng-repeat="i in steps(chart)" class="stop" data-scale="{{scale(chart.Scale)}}" style="left: {{i * ppd}}px;"></div>
            </div>
            <div ng-repeat="run in chart.Runs" class="run {{cleanText(run.RunName)}}" data-label="{{run.RunName}}: {{duration(run.Duration, chart.Scale, run.StartTime)}}"
            id="{{cleanText(run.RunName)}}" style="color: {{run.ColorSecondary}}; border-color: {{run.ColorSecondary}}; width: {{width(run.Duration, chart.Scale, run.StartTime)}}px; background-color: {{run.ColorPrimary}}; background-image: {{run.BackgroundImage || 'none'}};">
                <!--<div ng-repeat="cr in concurrentRuns(run, chart.Scale)" class="run {{cleanText(cr.RunName)}}" data-label="{{cr.Label}}:"
                style="color: {{cr.ColorSecondary}}; border-color: {{cr.ColorSecondary}}; left:{{width(cr.StartTime, chart.Scale, run.StartTime)}}px; width: {{width(cr.Duration, chart.Scale, cr.StartTime)}}px; background-color: {{cr.ColorPrimary}}">
                    <div ng-if="cr.HostName && cr.HostImage" class="event hosts" data-label="{{cr.HostName}}">
                        <a ng-if="cr.HostImageSource" href="{{cr.HostImageSource}}" target="_blank">
                            <img ng-src="{{cr.HostImage}}" alt="{{cr.HostName}}" />
                        </a>
                        <img ng-if="!cr.HostImageSource" ng-src="{{cr.HostImage}}" alt="{{cr.HostName}}" />
                    </div>
                </div>-->
                <div ng-if="run.HostName && run.HostImage" class="event hosts" data-label="{{run.HostName}}">
                    <a ng-if="run.HostImageSource" href="{{run.HostImageSource}}" target="_blank">
                        <img ng-src="{{run.HostImage}}" alt="{{run.HostName}}" />
                    </a>
                    <img ng-if="!run.HostImageSource" ng-src="{{run.HostImage}}" alt="{{run.HostName}}" />
                </div>
                <div ng-repeat="event in run.Events" ng-if="time(event.Time, chart.Scale, run.StartTime) > 0" class="event {{cleanText(event.Group)}} {{event.Group == 'Pokemon' || event.Class.toLowerCase().indexOf('pokesprite') >= 0 ? cleanText(event.Name) + ' pokesprite' : ''}} {{event.Class}}"
                data-label="{{event.Name + '\n' + duration(event.Time, chart.Scale, run.StartTime)}}" style="left:{{width(event.Time, chart.Scale, run.StartTime)}}px;">
                    <a ng-if="event.ImageSource" href="{{event.ImageSource}}" target="_blank">
                        <img ng-src="{{event.Image}}" alt="{{event.Name}}" />
                    </a>
                    <img ng-if="!event.ImageSource" ng-src="{{event.Image || 'img/missingno.png' }}" alt="{{event.Name}}" />
                </div>
            </div>
        </div>
        <ul class="controls">
            <li><i class="fa fa-search-plus" title="Zoom In" ng-click="zoomIn()"></i></li>
            <li><i class="fa fa-search-minus" title="Zoom Out" ng-click="zoomOut()"></i></li>
            <!--<li class="settings">
                <i class="fa fa-gear" title="Settings"></i>
                <ul>
                    <li>
                        <input type="checkbox" id="explode" onchange="toggleSetting(this);" />
                        <label for="explode">Stagger Clumps</label>
                    </li>
                </ul>
            </li>-->
            <!--<li class="groups">
                <i class="fa fa-eye" title="Groups"></i>
                <ul>
                </ul>
            </li>-->
            <!--<li><i class="fa fa-twitch" title="Twitch Videos" onclick="getTwitchVideos();"></i></li>-->
        </ul>
    </div>
</body>

</html>